.square {
  height: 50px;
  width: 50px;
  background-color: white;
  text-align: center;
  
  border-color: black;
}


.board{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

}